<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>Legos</title>
	<style>
		body {
			background-image:url("https://cdn.arstechnica.net/wp-content/uploads/2017/02/robots.jpg");
			width: 120%;
		}
		header{
			color: yellow;
			font-size: 36px;
			text-align:center;
			background-color: green;
			height: 50px;
			width:100%;
		}
		h4 {
			color: yellow;
		}
		ul {
		list-style-type: none;
		}
		      li {
		 position:relative;
          height : 40px;
          width: 300px;
        }
		#inbox {
		position: absolute;
		top: 65px;
		left: 330px;
		height: 40px;
		width: 250px;
		border-style: groove;
		border-radius: 5px;
		text-align: center;
		}
		#new  {
			position: absolute;
			top: 65px;
			left: 600px;
			height: 40px;
			border-radius: 5px;
		}
		#change{
		position: absolute;
		top: 5px;
		left: -180px;
		text-align: center;
		height: 40px;
		width: 140px;
		margin: 5px 10px;
		border-radius: 5px;	
		}
		#chgbutton{
			position: absolute;
			top: 5px;
			left: -280px;
            height: 40px;
			margin: 5px 10px;
            width: 100px;
			border-radius: 5px;		
		}
        #txtbx-lf,#txtbx-rt{
            display: block;
			text-align: center;
            float: left;
            height: 40px;
            width: 160px;
			color: green;
          background-color: yellow;
          margin: 5px 10px;
          border: 5px solid green;
          border-radius: 5px;
        }

        #build,#break{
            display: block;
            float: left;
            height: 40px;
			margin: 5px 10px;
            width: 100px;
			border-radius: 5px;
        }
		#col1, #col2{
			top:50px;
		}
	</style>
</head>
<header> Lego Creator </header>
	<body>
		{{{ body }}}
	</body>
</html>